.*
*.egg-info
*.log
*.mo
*.pyc
*.swp
bin/
buildout-cache/
develop-eggs/
devsrc/*
dist
docs/Makefile
docs/doctrees/
docs/html/
docs/make.bat
downloads
eggs
htmlcov/
include/
lib/
lib64
local/
log.html
node_modules/
output.xml
package.json
parts/
pip-selfcheck.json
report.html
selenium-screenshot-*.png
temp_resources
var/
!.travis
!.gitignore
!.coveragerc
!src/pas
