!src/pas
*.egg-info
*.log
*.mo
*.pyc
*.swp
.coverage
.installed.cfg
.mr.developer.cfg
.project
.pydevproject
.settings/
bin/
buildout-cache/
buildout.cfg
develop-eggs/
devsrc/*
downloads
eggs
htmlcov/
include/
lib/
local/
output.xml
parts/
var/
log.html
report.html
selenium-screenshot-*.png
docs/Makefile
docs/make.bat
docs/doctrees/
docs/html/
node_modules/
package.json
Gruntfile.js
temp_resources
pip-selfcheck.json
dist
