[buildout]
parts =
    instance
    test

extends = http://dist.plone.org/release/4.1-latest/versions.cfg

versions = versions

find-links =
    http://effbot.org/downloads

develop = .

[instance]
recipe = plone.recipe.zope2instance
user = admin:admin
http-address = 8080
debug-mode = on
verbose-security = on
eggs =
    Pillow
    collective.lineage
    plone.app.debugtoolbar
 
zcml = 
    collective.lineage
[test]
recipe = zc.recipe.testrunner
eggs =
   ${instance:eggs} 

